In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
data = pd.read_csv("Cleaned Data.csv", index_col=0)

In [3]:
data.head()

,Gender,Martial Status,No. of Childs,Education,Work,Pre_code,Post_code,item,department,brand,...,Net Weight,Gross Weight,Package Weight,Is Recyclable?,Min. Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,Female,Single,4,bachelors,professional,H11go,ZA,cleaning supplies,household,red wing,...,26.6008,28.1997,1.5990,1.0,10K+,2842.23,2037.640000,481.98,323.000000,602.7575
1,Female,Single,3,bachelors,management,S04ne,WA,snack foods,snack foods,nationeel,...,14.9720,16.5710,1.5990,0.0,50K+,2814.95,2049.720000,457.36,328.464616,708.6650
2,Male,Married,2,high,manual,L05es,CA,magazines,periodicals,excel,...,27.1822,28.6358,1.4536,1.0,30K+,2192.32,1322.210000,523.32,348.850000,564.2647
3,Female,Single,3,partial,professional,S03le,WA,dairy,dairy,carlson,...,11.2944,14.2161,2.9217,1.0,30K+,1974.73,1775.439096,440.92,293.950000,724.5119
4,Female,Married,5,bachelors,professional,M10da,YU,vegetables,produce,hermanos,...,9.7100,12.6172,2.9072,0.0,50K+,2862.30,1872.190000,593.93,395.950000,519.7574